
h2 {
  margin-top: 20px;
}

input {
  margin-bottom: 10px;
}

button {
  margin-bottom: 20px;
}



button::before {
  font-family: 'FontAwesome';
  content: '\f084';
  margin-right: 5px;
}




.container {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
}


input[type="email"],
input[type="text"],
input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-image: linear-gradient(to right, #4CAF50, #45a049);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

